{
	"plugins": ["prettier-plugin-astro"],
	"trailingComma": "all",
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"singleAttributePerLine": true,
	"proseWrap": "preserve",
	"printWidth": 85,
	"astroAllowShorthand": false,
	"tabWidth": 4
}
