---
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";
---

<section id="about-us">
	<div class="container">
		<div class="grid">
			<img
				src="images/AboutUs.png"
				alt="Group of people"
			/>
			<div class="main-text">
				<h2 class="title title--large">About us</h2>
				<h3 class="title title--small">Since 2012</h3>
				<p class="regular-text">
					PFWCES (Power From Within Clean Energy Society) is a
					not-for-profit organization made up of collaborative forward
					thinking volunteers, a creative united team from 8 countries and
					growing.
				</p>
			</div>
			<div class="card">
				<img src="images/founder-profile-image.jpeg" />
				<h3 class="title title--small">The founder</h3>
				<p class="regular-text">
					Lorem ipsum dolor sit amet consectetur. Sit sem lacus nunc ipsum
					diam ultricies elit. Congue et ac neque massa.
				</p>
				<Button
					text="Find me on Linkedin"
					href="https://www.linkedin.com/in/isaac-evans-gould-2053a417/"
					type="Secondary"
				/>
			</div>
			<div>
				<h3 class="title title--small">Our Mission</h3>
				<p class="regular-text">
					Our mission is to promote sustainable living through clean energy
					and integrated agriculture, with a focus on creating sustainable
					homes and communities that are resilient, self-sufficient, and
					environmentally friendly. We believe that by empowering
					individuals and communities to live sustainably, we can create a
					more just and equitable world for all.
				</p>
			</div>
			<div>
				<h3 class="title title--small">Our Vision</h3>
				<p class="regular-text">
					We envision a world where everyone has access to clean, renewable
					energy, fresh and healthy food, and a healthy environment. We
					believe that sustainable living is not just about reducing our
					carbon footprint, but also about building strong and resilient
					communities that are self-sufficient and can thrive in the face
					of adversity.
				</p>
			</div>
			<div class="button">
				<Button
					href="#talk-to-us"
					text="Talk to us"
				/>
			</div>
		</div>
	</div>
</section>

<style>
	.container {
		position: relative;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, auto);
		column-gap: 8rem;
		row-gap: 4rem;
	}

	.grid > img {
		grid-column: 1 / 2;
		grid-row: 1 / span 2;

		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.grid > .main-text {
		padding-bottom: 5rem;
	}

	.grid > .card {
		grid-column: 1 / span 2;
		grid-row: 2 / span 2;
		justify-self: center;

		width: 33%;
		background-color: var(--green-400);
		padding: var(--fs-8);
	}

	.grid > .button {
		grid-column: span 2;

		justify-self: center;
	}

	h2 {
		margin-bottom: var(--fs-7);
	}

	.card > * {
		margin-bottom: var(--fs-1);
	}

	.card > img {
		height: 13rem;
		width: 100%;
		object-fit: cover;
	}

	@media (max-width: 60em) {
		.grid {
			grid-template-rows: repeat(6, auto);
			column-gap: 1.5rem;
			row-gap: 2.5rem;
		}

		.grid > img {
			grid-column: 1 / span 2;
			grid-row: 2 / span 2;
		}

		.grid > .main-text {
			grid-column: 1 / span 2;
			grid-row: 1 / 2;

			padding-bottom: 0;
		}

		.grid > .card {
			grid-row: 3 / span 2;

			width: 50%;
		}
	}

	@media (max-width: 35em) {
		.grid {
			grid-template-columns: 1fr;
			row-gap: 2rem;
		}

		.grid.grid > * {
			grid-column: span 1;
			grid-row: span 1;
		}

		.grid > .main-text {
			order: -1;
		}

		.grid > .card {
			width: 100%;
		}
	}
</style>
