<footer>
	<div class="container">
		<a
			href="#"
			class="title logo"
		>
			<img
				src="images/logo.png"
				alt="PFWCES logo"
			/>
			 PFWCES
		</a>
		<div>
			<nav>
				<h2>Navigation</h2><!-- ?? -->
				<ul>
					<li></li>
				</ul>
			</nav>
			<div>
				<h2>Location</h2>
				<address></address>
			</div>
			<div>
				<h2>Social account</h2>
				<ul>
					<li>
						<a></a>
					</li>
				</ul>
			</div>
			<div>
				<h2>Phone</h2>
				<address></address>
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		padding-block: 6rem 4rem;
		background-color: var(--green-400);
	}

	.container > .logo {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		font-weight: var(--fw-4);
		font-size: var(--fs-6);
		text-shadow:
			1px -1px white,
			1px 1px white;
	}
	.logo > img {
		width: 4.85%;
	}
</style>
