---
import Button from "../Elements/Button.astro";
---

<header>
	<div class="container">
		<a
			href="#"
			class="title"
		>
			<img
				src="images/logo.png"
				alt="PFWCES logo"
			/>
			 PFWCES
		</a>
		<button id="hamburger">
			<div></div>
			<div></div>
			<div></div>
		</button>
		<nav id="navigation">
			<ul>
				<li>
					<a
						href="#the-problem"
						class="title title--header"
						>The Problem</a
					>
				</li>
				<li>
					<a
						href="#our-philosophy"
						class="title title--header"
						>Our Philosophy</a
					>
				</li>
				<li>
					<a
						href="#our-solution"
						class="title title--header"
						>Solution</a
					>
				</li>
				<li>
					<a
						href="#the-benefits"
						class="title title--header"
						>Benefits</a
					>
				</li>
				<li>
					<a
						href="#about-us"
						class="title title--header"
						>About us</a
					>
				</li>
				<li>
					<Button
						text="Talk to us"
						href="#talk-to-us"
					/>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
	const button = document.querySelector("#hamburger");
	const nav = document.querySelector("#navigation");

	function toggleNavClass() {
		nav.classList.toggle("open");
		button.classList.toggle("open");
	}

	button.addEventListener("click", toggleNavClass);
</script>

<style>
	header {
		padding-block: var(--fs-5) var(--fs-11);

		background-color: var(--green-400);
	}

	.container {
		display: flex;
		justify-content: space-between;
		gap: var(--fs-11);
		align-items: center;
	}

	.container > a {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		font-weight: var(--fw-4);
		font-size: var(--fs-6);
		text-shadow:
			1px -1px white,
			1px 1px white;
	}

	a > img {
		width: clamp(40px, 4vw, 70px);
	}

	ul {
		display: flex;
		align-items: center;
		gap: var(--fs-6);
		flex-wrap: wrap;
	}

	li:last-child {
		margin-left: var(--fs-3);
	}

	li > a:hover {
		font-weight: var(--fw-4);
	}

	button {
		display: none;
	}

	nav.open {
	}

	@media (max-width: 60em) {
		header {
			position: relative;
			z-index: 1;

			isolation: isolate;
		}

		header::before {
			content: "";

			position: absolute;
			inset: 0;
			z-index: -1;

			background-color: var(--green-400);
		}

		button {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4px;

			--size: var(--fs-6);
			width: var(--size);
			height: var(--size);
			background-color: transparent;
			border: none;

			transition: transform 0.5s ease-in;
		}

		button div {
			width: 90%;
			height: 3px;
			background-color: var(--black-400);

			transition: transform 0.5s ease-in;
		}

		button.open {
			transform: rotate(90deg);
		}

		button.open div:first-child {
			transform: translateY(14px);
		}

		button.open div:last-child {
			transform: translateY(-14px);
		}

		nav {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -2;

			width: 100%;
			padding: var(--fs-3);

			background-color: var(--white-700);

			transition: transform 0.5s ease-in;
		}

		nav.open {
			transform: translateY(100%);
		}

		ul {
			flex-direction: column;
		}
	}
</style>
