---
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";
---

<section id="our-philosophy">
	<div class="container">
		<div class="row">
			<img
				src="images/OurPhilosophy.jpg"
				alt="Woman and two girls looking at crops"
			/>
			<SectionHeading
				smallText="Our philosophy"
				bigText="We believe in a sustainable lifestyle"
				width="32.5%"
			/>
		</div>
		<ul>
			<li>
				<h3 class="title title--small">Peace of mind</h3>
				<p class="regular-text">
					Our hybrid clean energy system eliminates your monthly hydro
					bills, and our indoor agricultural systems reduce the food
					security stress.
				</p>
			</li>
			<li>
				<h3 class="title title--small">Reduce your expenses</h3>
				<p class="regular-text">
					Our hybrid sustainable homes with an integrated agriculture room
					save families $5000 + yearly.
				</p>
			</li>
			<li>
				<h3 class="title title--small">Additional revenue</h3>
				<p class="regular-text">
					Using our indoor agricultural systems, you can generate passive
					income by becoming a local food source to your community.
				</p>
			</li>
			<li>
				<h3 class="title title--small">Sense of control</h3>
				<p class="regular-text">
					Controlling your own energy, and food source gives you options
				</p>
			</li>
			<li>
				<Button
					href="#our-solution"
					text="The Solution"
				/>
			</li>
		</ul>
	</div>
</section>

<style>
	.row {
		display: flex;
		justify-content: space-between;
		gap: 5rem;

		margin-bottom: var(--fs-11);
	}

	img {
		width: 51.5%;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--fs-7) var(--fs-10);

		width: 54.75%;
		margin-inline: auto;
		margin-bottom: var(--fs-14);
	}

	ul li:last-child {
		grid-column: span 2;

		text-align: center;
	}
</style>
