---
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";
---

<section>
	<div class="container">
		<div class="title">
			<SectionHeading
				smallText="The benefits"
				bigText="Save money, live better, enjoy your social life!"
			/>
		</div>
	</div>
</section>

<style>
	.title {
		width: 50%;
		margin-inline: auto;
		text-align: center;
	}
</style>
