---
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";
---

<section>
	<div class="container">
		<SectionHeading
			smallText="Our philosophy"
			bigText="We believe in a sustainable lifestyle"
			width="32.5%"
		/>
	</div>
</section>
