---
import Button from "../Elements/Button.astro";
---

<section id="talk-to-us">
	<div class="container container--form">
		<form id="contact-form">
			<h2 class="title title--large">Talk to us</h2>
			<ul>
				<li>
					<label for="name">Name</label>
					<input
						autocomplete="off"
						id="name"
						name="name"
						required
						title="Please enter your name (e.g. John Doe)"
						type="text"
					/>
				</li>
				<li>
					<label for="email">Email</label>
					<input
						autocomplete="off"
						id="email"
						name="email"
						required
						title="Please enter your email address"
						type="email"
					/>
				</li>
				<li>
					<label for="phone">Phone</label>
					<input
						autocomplete="off"
						id="phone"
						name="phone"
						required
						title="Please enter a phone number"
						type="tel"
					/>
				</li>
				<li>
					<label for="city">City</label>
					<input
						autocomplete="off"
						id="city"
						name="city"
						required
						title="Please enter your city"
						type="text"
					/>
				</li>
				<li>
					<label for="province">Province</label>
					<input
						autocomplete="off"
						id="province"
						name="province"
						required
						title="Please enteryour province"
						type="tel"
					/>
				</li>
				<li>
					<label for="comments">Tell us more</label>
					<textarea
						autocomplete="off"
						id="comments"
						name="comments"
						required
						rows="6"
						title="Tell us more"
					></textarea>
				</li>
			</ul>
			<div class="button-container">
				<Button
					text="Clear all"
					id="clearButton"
					style="Secondary"
					tag="button"
					type="reset"
				/>
				<!-- <script>
					const button = document.querySelector("#submit");
					button.addEventListener("click", (e) => {
						e.preventDefault();
						console.log("hi");
						const content = {
							"your-name": "Caio",
							"your-email": "teste@teste.com",
							"your-subject": "teste@teste.com",
							"your-message": "teste@teste.com",
						};

						const formContent = JSON.stringify(content);
						fetch(
							"https://backend.caiocabralmeteora.com.br/wp-json/contact-form-7/v1/contact-forms/30372f9/feedback",
							{
								method: "post",
								headers: {
									"Content-Type": "application/json",
								},
								body: formContent,
							},
						)
							.then((response) => response.json())
							.then((response) => console.log(response));
					});
				</script> -->

				<!-- 				adaptar botao para ser um botao
				mudar estrutura da imagem para grid -->

				<Button
					tag="button"
					type="submit"
					text="Submit"
					id="submit"
				/>
			</div>
		</form>
	</div>
</section>

<style>
	/* .form-container {
		width: 43%;
		margin: auto;
	} */

	.container--form {
		width: 43%;
	}

	h2 {
		margin-bottom: var(--fs-11);
		text-align: center;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: var(--fs-2);
		column-gap: var(--fs-7);

		margin-bottom: var(--fs-8);
	}

	li {
		display: flex;
		flex-direction: column;
	}

	li:first-child {
		grid-column: span 2;
	}

	li:last-child {
		grid-column: span 2;
	}

	label {
		margin-bottom: 0.3rem;
	}

	input,
	textarea {
		padding: 0.5rem;

		border: 1px solid #000000;
		background-color: var(--yellow-200);
	}

	textarea {
		resize: vertical;
	}

	.button-container {
		display: flex;
		gap: var(--fs-2);
	}

	@media (max-width: 60em) {
		.container--form {
			width: 91.7%;
		}
	}

	@media (max-width: 35em) {
		ul {
			grid-template-columns: 1fr;
		}

		ul > * {
			grid-column: span 1;
		}

		.button-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			text-align: center;
		}
	}
</style>

<script>
	const myForm = document.getElementById("contact-form") as HTMLFormElement;

	document.getElementById("clearButton").addEventListener("click", function () {
		myForm.reset();
	});
</script>
